body{
    background-color: rgb(222, 234, 234);
    font-family: "outfit";
}

.icon-box{
    height: 500px;
    width:350px;
    margin-top: 150px;
    background-color: white;
    border-radius: 20px; ;
}

.qr{
    height: 300px;
    width:310px; 
    padding-top: 15px;
    border-radius: 10%;
}

h2{
    text-align: center;
    width: 80%;
}
p{
    width: 80%;
    color:rgb(188, 187, 187);
    font-size: 15px;
}